@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 227 45% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 26 76% 55%;
    --accent-foreground: 26 76% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 26 76% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 228 33% 15%;
    --foreground: 0 0% 98%;
    --card: 228 33% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 228 33% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 227 45% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 227 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 20% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 26 76% 55%;
    --accent-foreground: 26 76% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 30% 25%;
    --input: 227 30% 25%;
    --ring: 26 76% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
